
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 40px;
	background-color: #161b22;
color: white;
padding: 10px;

}

body {
font-family: 'Roboto', sans-serif;
font-weight: bold;
background-color: #21262d;
color: #ccc;
    padding-top: 55px; 

}

.container {
background-color: #161b22;
width: 100%;
max-width: 380px;
margin: auto;
padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
box-sizing: border-box;
}

.divider {
    flex-grow: 1;
    border-bottom: 2px solid #383838;
    margin-left: 15px;
    margin-right: 15px;
}

.act {
font-family: inherit;
font-size: 0.9rem;
color: #ccc;
}

.add-button {
	background: transparent;
  position: absolute;
text-decoration: none;
font-family: inherit;
    font-size: 0.9rem;
	font-weight: inherit;
    cursor: pointer;
    appearance: none;
    height: 40px;
    color: #E5E6E4;
    border-radius: 6px;
  border: 1px solid gray;
    padding: 10px;
}

#phone {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
    font-size: inherit;
    font-family: inherit;
	font-weight: inherit;
	letter-spacing: 0.2em;
    background-color: transparent;
    appearance: none;
    color: rgb(255, 255, 255);
    width: 230px;
	height: 40px;
}

#btn1 {
    background-color: #19273c;
}
#btn2 {
    background-color: rgb(35, 134, 54);
}

#btn3 {
background-color: #19273c;
    appearance: none;
    height: 40px;
    width: 50px;
    border-radius: 6px;
  border: 1px solid white;
  margin-left: 10px;
  font-family: inherit;
    font-size: 0.9rem;
	font-weight: inherit; 
	    color: #E5E6E4;

}


.btn {
font-family: inherit;
    font-weight: 500;
    font-size: 0.9rem;
	font-weight: inherit;
    cursor: pointer;
    appearance: none;
    height: 40px;
    width: 100%;
    color: #E5E6E4;
    border-radius: 6px;
  border: 1px solid gray;
    text-decoration: none;
    padding: 10px;
}

.btn:focus, .btn:hover {
  opacity: 0.5;
  border-color: white;
}

.btn:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.alert {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 6px;
      font-size: 0.9rem;

}

.alert-info {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
