#message {
  background-color: #cecece7c;
  border: 1px solid #575757;
  border-radius: 5px;
  width: 100%;
  }
  #email {
    background-color: #cecece7c;
    border: 1px solid #575757;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    }

    #submitbtn {
      background-color: #5bb0ffa1;
      border: 1px solid #575757;
      border-radius: 5px;
      width: 50%;
      height: 30px;
      }


p {
font-size: 16px;
line-height: 22px;
font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
letter-spacing: normal;
font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
 background-color: #161b22;
color: white;
padding: 10px;

}

body {
font-family: 'Roboto', sans-serif;
font-weight: bold;
background-color: #21262d;
color: #ccc;
padding-top: 55px;
  padding-left:5px;
  padding-right:5px;
}

.container {
width: 100%;
margin: auto;
padding: 10px 20px 20px 20px;
border: 1px solid transparent;
border-radius: 30px;
box-sizing: border-box;
}

#main {
  background-color: #44495081;
}
#contact {
  background-color: #161b22;
  margin-top: 10px;
  margin-bottom: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('icon/noto-bg-dark.jpg');
}

#info {
  color: #ffffff;
  background-color: #0f2e2b;
  margin-top: 50px;
  margin-bottom: 80px;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('icon/background.jpg');

}

.divider {
   flex-grow: 1;
   border-bottom: 2px solid #383838;
   margin-left: 15px;
   margin-right: 15px;
}

.act {
font-family: inherit;
font-size: 1.1rem;
color: #ccc;
}

.add-button {
 background: transparent;
 position: absolute;
text-decoration: none;
font-family: inherit;
   font-size: 0.9rem;
 font-weight: inherit;
   cursor: pointer;
   appearance: none;
   height: 40px;
   color: #E5E6E4;
   border-radius: 6px;
 border: 1px solid gray;
   padding: 10px;
}

#phone {
text-align: center; 
padding-top: 6px;
 padding-bottom: 6px;
 border: 1px solid #ccc;
 border-radius: 10px;
font-size: 1.2rem;
font-family: inherit;
font-weight: inherit;
letter-spacing: 0.2em;
background-color: transparent;
appearance: none;
color: rgb(255, 255, 255);
width: 345px;
height: 58px;
}

    .center-h {
        display: flex;
        justify-content: center;
    }

#btn4 {
   background-color:rgb(47, 134, 35);
}


.alert {
 padding: 15px;
 margin-top: 10px;
font-size: 0.9rem;

}

.alert-info {
 border-color: #bce8f1;
 color: #ffffff;
 background-color: rgba(51,31,28,0.949);
}

.alert-error {
 color: #a94442;
 background-color: #f2dede;
 border-color: #ebccd1;
}



.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-title {
font-size: 14px;
font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
letter-spacing: normal;
font-weight: bold;
}

  .button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  column-gap: 20px;

}

.button {
display: flex;
align-items: center;
justify-content: center;
height: 56px;
width: 56px;
border-radius: 10px;
border: 1px solid rgb(110, 110, 110);
padding: 7px;
margin-top: 10px;
margin-bottom: 10px;
cursor: pointer;
transition: background-color 0.5s ease;
}

.button:focus, .button:hover {
  opacity: 0.5;
  border-color: white;
 }
 
 .button:active {
  background-color: #7f95a3;
}

.button img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 4px;
}